
body {
  margin: 0px;
}



/* .decrement {
  padding: 0.25rem 0.5rem;
  background: #f2f2f2;
  border-radius: 50%;
  font-weight: bolder;
}
.increment {
  padding: 0.25rem 0.5rem;
  background: #f2f2f2;
  border-radius: 50%;
  font-weight: bolder;
}
.increment:hover,
.decrement:hover {
  cursor: pointer;
} */